
Algoritmos_Estruturas_Dados/Fichas de exercicios/output/funcoes.exe
Fundamentos De Sistemas Operativos/Trab. Pratico/main.o
Fundamentos De Sistemas Operativos/Trab. Pratico/header.o
Fundamentos De Sistemas Operativos/Trab. Pratico/main