
Algoritmos_Estruturas_Dados/Fichas de exercicios/output/funcoes.exe
Fundamentos De Sistemas Operativos/Trab. Pratico 1/main.o
Fundamentos De Sistemas Operativos/Trab. Pratico 1/header.o
Fundamentos De Sistemas Operativos/Trab. Pratico 1/main