@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: "Ubuntu",sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40px;
}

.container{
    border: 2px solid #010101;
    border-radius: 6px;
    width: 900px;
}

.container .content{
    display: flex;
    justify-content: space-between;
}

.container > h1{
    text-align: center;
    background: #f3f2f1;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.container > h1::after{
    content: "SALDO";
    font-size: 12px;
    color: #f3f2f1;
    background: red;
    padding: 4px;
    border-radius: 4px;
    position: absolute;
    left: 210px;
    top: -7px;
}

.container .content > img{
    margin-left: 10px;
    border-radius: 4px;
}

.container .content .about-product{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 240px;
    padding: 4px;
}

.container .content .about-product .status{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .content .about-product .status a{
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    color: #010101;
    transition: all 0.3s ease;
}

.container .content .about-product .status a:hover{
    font-size: 14px;
    margin-left: 15px;
    color: #3364c0;
}

.container .content .about-product .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .content .about-product .price .preço{
    font-size: 20px;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 700;
}
.container .content .about-product .price .envio-gratis{
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    color: #7c7b7b;
}

.container .content .colors{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.container .content .colors .black,
.container .content .colors .blue,
.container .content .colors .red,
.container .content .colors .yellow,
.container .content .colors .green,
.container .content .colors .morrow{
    border: 1px solid #010101;
    width: 20px;
    height: 20px;
}

.container .content .colors .black{
    background: black;
}

.container .content .colors .blue{
    background: blue;
}

.container .content .colors .red{
    background: red;
}

.container .content .colors .yellow{
    background: yellow;
}

.container .content .colors .green{
    background: green;
}

.container .content .colors .morrow{
    background: maroon;
}


.container .content .product-detail{
    width: 280px;
    display: flex;
    flex-direction: column;
}

.container .content .product-detail h3{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.container .content .product-detail > ul > li{
    margin-left: 20px;
    font-weight: 400;
    gap: 20px;
}

.container .content .product-detail > ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container button{
    background: #010101;
    font-size: 18px;
    color: #f3f2f1;
    cursor: pointer;
    transition: all 0.3s ease;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: 10px;
    padding: 10px ;
    width: 100%;
    border: none;
}

@media screen and (max-width: 1220px) {
    .container > h1::after{
        left: 120px;
        top: -10px;
        position: absolute;
    }
}

@media screen and (max-width: 992px){
    .container > h1::after{
        font-size: 13px;
        position: absolute;
        left: 20px;
    }
}

@media screen and (max-width: 992px){
    .container > h1::after{
        font-size: 13px;
        position: absolute;
        left: 20px;
    }
}

