.container {
    margin: 0 auto;
    width: 960px;
}

body {
    background: #70dbe2;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana,sans-serif;
    line-height: 1.6;
}

.place {
    background-color: #f5f5f5;
    border-color: #CCC #999 #999 #CCC;
    border: 1px solid #444;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    text-align: justify;
}

.place h2{
    border-bottom: 1px dashed #444;
}

.place a {
    color: #2C88A7;
    font-weight: bold;
    }

h1 a{
    color: #40413e;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease;
    padding: 4px;
}

h1 a:hover {
    background-color: #40413e;
    color: #FFF;
}

.place img {
    border: 1px solid #444;
    float: left;
    margin: 10px 10px 0 0;
    padding: 2px;
    }

.clear {
    clear: both;
}



.sidenote {
    background-color: #FFFBE4;
    border: 1px solid #C9BC8F;
    padding: 10px;
    float: right;
    width: 260px;
    gap: 20px;
}
.sidenote h3 {
    font-size: 14px;
    margin-top: 0;
}
.sidenote ol {
    font-size: 12px;
    gap: 20px;
}

.places {
    float: left;
    width: 660px;
    }

footer {
    font-size: 12px;
    text-align: center;
    }

    aside {
    background-color: #FFFBE4;
    border: 1px solid #C9BC8F;
    float: right;
    padding: 10px;
    width: 260px;
    }
    aside h3 {
    font-size: 14px;
    margin-top: 0;
    }
    aside ol {
    font-size: 12px;
    }